* {
  box-sizing: border-box;
}
/*html {
  font-family: 'EB Garamond', serif;
  background-color: black;
  background-size: 100vw 100vh;
    -webkit-animation: fadein 2s;
  color: white;
}*/
.footer {
  text-align: center;
  margin-top: 40px;
}
html {
  margin: auto;
	height: 100%;
	/* max-height: 782px; */
  font-family: 'EB Garamond', serif;
  color: black;
}
#top {
  -webkit-animation: fadein 2s;
	background-color: hsla(200,40%,30%,.4);
	background-image:
		url('http://www.clker.com/cliparts/q/L/o/j/C/Q/forest-hi.png'),
		url('http://www.inserthtml.com/parallax/trees.png'),
		url('https://db.tt/cKICP4Xj'),
		url('http://www.augstudy.com/images/theme/impress/bg_mountains.png'),
		url('https://db.tt/vKBcgeOj');
	background-repeat: repeat-x;
	background-position:
		0 20%,
		0 95%,
		0 0,
		0 100%,
		0 0;
	background-size:
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position:
			-5000px 20%,
			-800px 95%,
			500px 0,
			1000px 100%,
			400px 0;
		}
	}

@import "bourbon";

$social-color-pallete: (
     facebook: #3b5998,
     tumblr: #32506d,
     linkedin: #007bb6,
     twitter: #00aced,
     google-plus: #dd4b39,
     reddit: #8bbbe3,
     youtube: #df1c31,
     pinterest: #b81621,
     github: #444,
     envelope: #333,
     soundcloud: #f50
);

$social-default-icon-color: #fff;
$social-default-btn-color: #666;
$social-icon-size: 60px;
$social-icon-border: 2px;
$social-icon-border-radius: 5px;

$brand-color: #006FC2;

.icon-link {
    width: $social-icon-size;
    height: $social-icon-size;
    background-color: $social-default-btn-color;
    line-height: $social-icon-size;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    outline: none;
    margin: 5px;
   @include box-sizing(content-box);

    &.fill {
      @each $social-alias, $social-color in $social-color-pallete {
        &.#{$social-alias} {
          background-color: $social-color;
          &:hover {
            background-color: #fff;
            .fa-#{$social-alias} {
              color: $social-color;
              @include transition(color 150ms ease-in-out);
            }
          }
        }
      }
    }

  &.brand {
    background-color: #fff;
    .fa {
      color: $brand-color;
    }
  }

    &.round {
      border-radius: 50%;
    }

    &.round-corner {
      border-radius: $social-icon-border-radius;
    }

    &:hover {
      @include transition(background-color 150ms ease-in-out);
      height: $social-icon-size - $social-icon-border * 2;
      line-height: $social-icon-size - $social-icon-border * 2;
      width: $social-icon-size - $social-icon-border * 2;
      background-color: #fff;

      @each $social-alias, $social-color in $social-color-pallete {
        &.#{$social-alias} {
          border: $social-icon-border solid $social-color;
        }
      }

      .fa {
        line-height: $social-icon-size - $social-icon-border * 2;
      }

      @each $social-alias, $social-color in $social-color-pallete {
        .fa-#{$social-alias} {
            color: $social-color;
            @include transition(color 150ms ease-in-out);
        }
      }
  }

  .fa{
    color: $social-default-icon-color;
    line-height: $social-icon-size;
    font-size: $social-icon-size - $social-icon-size * 0.40;
  }
}
a {
  color: inherit;
}
.fa-youtube:before, .fa-linkedin:before, .fa-github:before, .fa-google-plus:before {
  margin: 20px;
}

.brand-icons {
  background-color: inherit;
  padding: 10px 0;
  width: 75%;
  margin: auto;
  text-align: center;
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@media screen and (min-width: 0px) and (max-width: 1100px) {
  nav a {
    display: none;
  }
  .navAmedia {
    display: inline-block !important;
    margin: auto;
    width: 90px;
    height: 60px;
    padding-bottom: 30px;
  }
  .keyboardPic {
    display: inline-block !important;
    margin: auto;
    width: 90px;
    height: 60px;
    padding-bottom: 30px;
  }
}
.keyboardPic {
  display: none;
}
.projectsTitle {
  color: teal !important;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 48px;
  padding-top: 80px;
  color: white;
}
h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 32px;
  text-align: center;
  color: teal;
}
h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
  text-align: center;
  color: teal;
  padding-top: 40px;
}
h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  text-align: center;
  color: teal;
  padding-top: 24px;
  font-weight: normal;
}
.footerCopyright {
  color: teal;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.projectsDiv {
  text-align: center;
}
.projectsP {
  font-size: 20px;
  width: 50%;
  margin: auto;
  padding-bottom: 30px;
}
.appetitePic {
  text-align: center;
  height: 15%;
  width: 15%;
}
.beerbossPic {
  text-align: center;
  height: 15%;
  width: 15%;
}
.weatherwearPic {
  text-align: center;
  height: 25%;
  width: 25%;
}
.hr1 {
   width: 66%;
   display: block;
   height: 1px;
   border: 0;
   margin-bottom: 25px;
   border-top: 1px solid white;
}
.hr2 {
   width: 66%;
   display: block;
   height: 1px;
   border: 0;
   margin-top: 25px;
   border-top: 1px solid white;
}
.hr3, .hr4, .hr5 {
    display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid teal;
   margin-top: 0px;
   width: 25%;
}
.hr6, .hr7, .hr8 {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid teal;
  width: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.bioP {
  padding: 30px;
}
.mePic {
  height: 45%;
  width: 45%;
  display: block;
  margin: auto;
}
.bio {
  width: 75%;
  display: block;
  text-align: center;
  margin: auto;
  font-size: 24px;
}
.topNav {
  height: 60px;
  width: 100%;
  z-index: 11;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
}
nav {
  text-align: center;
  padding-top: 20px;
}
nav a {
  margin-left: 30px;
  margin-right: 70px;
  margin-top: 20px;
  color: teal;
  text-decoration: none;
  outline: none;
  letter-spacing: 4px;
}
nav a:hover {
  color: black;
}
.navA {
  margin-top:20px;
}
.titleHeader {

}
